[10:13 AM, 5/9/2022] F Sneha Clg: /* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #212534;
    display: grid;
    place-content: center;
    height: 100vh;
}

/* ======================== */

.ball-wrapper {
    height: 200px;
    position: relative;
}
.ball {
    width: 100px;
    height: 100px;
    background: #c35a14;
    border-radius: 50%;
    border: 2px solid #000;
    background-image: 
    radial-gradient(ci…
[10:13 AM, 5/9/2022] F Sneha Clg: <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Emoji animation</title>
  <!-- Link to your stylesheet -->
  <link rel="stylesheet" href="./styles.css">
</head>

<body>

  <div class="emoji">
    <div class="face">
      <div class="eyes">
        <div class="eye"></div>
        <div class="eye"></div>
      </div>
      <div class="mouth"></div>
    </div>
  </div>

</body>

</html>